---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - databases.atlasdb.io
  resources:
  - postgresclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - databases.atlasdb.io
  resources:
  - postgresclusters/finalizers
  verbs:
  - update
- apiGroups:
  - databases.atlasdb.io
  resources:
  - postgresclusters/status
  verbs:
  - get
  - patch
  - update
